<div class="pull row-fluid">

   <div class="pull-description row-fluid">
      <span class="pull-number">
         <a target="_blank" href="<%= repo + 'pull/' + pull.number %>">
            #<%= pull.number %>
         </a>
      </span>
      <span class="pull-name"><%= pull.name %></span>
   </div>

   <div class="pull-status row-fluid">

      <div class="pull-cr row-fluid">
         <span class="pull-count
          <%= (pull.cr.users.length < pull.cr.needed) ?  'bad' : 'good' %>">
            CR: <%= pull.cr.users.length %>
         </span>
         <% for (var user in pulls.cr.users) { %>
            <%- partial('partials/user', {locals: {user: user}}) %>
         <% } %>
      </div>

      <div class="pull-qa row-fluid">
         <span class="pull-count
          <%= (pull.qa.users.length < pull.qa.needed) ?  'bad' : 'good' %>">
            QA: <%= pull.qa.users.length %>
         </span>
         <% for (var user in pulls.qa.users) { %>
            <%- partial('partials/user', {locals: {user: user}}) %>
         <% } %>
      </div>

      <div class="pull-build-status state-<%= pull.state %>"></div>

   </div>

</div>
